<% if current_user %>
  <p>ユーザー名</p>
  <%= current_user.name %>
  <p>ユーザーID</p>
  <%= current_user.id %>
  <div>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "新規登録", new_user_registration_path %>
<% end %>
